# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Dependencies
node_modules/

# Build outputs
dist/
build/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

