.authForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 0;
}

.label {
  font-size: 20px;
  align-self: center;
}

.input {
  font-size: 18px;
  padding: 18px;
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid var(--border);
  color: var(--text);
}

.input:focus {
  outline: none;
  border: 3px solid white;
}

.modal__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 18px;
  gap: 10px;
}

.btn-submit {
  padding: 18px 18px;
  font-size: 18px;
  background-color: transparent;
  border: 3px solid var(--accent);
  color: var(--text);
  border-radius: 20px;
}

.btn-submit:hover {
  background-color: var(--accent);
  cursor: pointer;
}
